.group-chart {
  margin-top: 30px;
  padding: 20px;
  border-radius: 16px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px #00000015;

  h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #333;
  }
}
