.stats-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  margin-bottom: 30px;

  .card {
    padding: 20px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 10px #00000015;
    transition: 0.3s;

    h2 {
      font-size: 16px;
      font-weight: 600;
    }

    p {
      font-size: 32px;
      font-weight: 800;
      margin-top: 5px;
    }
  }

  .blue {
    background: linear-gradient(to bottom right, #e0f2fe, #bae6fd);
    border: 2px solid #7dd3fc;
  }

  .green {
    background: linear-gradient(to bottom right, #dcfce7, #bbf7d0);
    border: 2px solid #86efac;
  }

  .red {
    background: linear-gradient(to bottom right, #fee2e2, #fecaca);
    border: 2px solid #fca5a5;
  }
}
