@media (min-width: 1366px) and (max-width:1500px) {
    #slider .carousel-caption h5 {
        font-size: 1.35rem;
        line-height: 38px;
    }

    .carousel-item img.position-relative {
        z-index: 2;
        width: 89%;
    }

    .logo h2 {
        font-size: 0.72rem;
    }


}

@media (min-width: 1200px) and (max-width:1365px) {
    .carousel-item img.position-relative {
        z-index: 2;
        width: 88%;
    }

    #header-form {
        width: 330px;
    }

    .services-carousel figcaption p {
        font-size: 13px;
    }

    #slider .carousel-caption h5 {
        font-size: 23px;
    }

    #navbarSupportedContent ul li a {
        padding: 20px 15px;
    }

    .logo h2 {
        font-size: 0.7rem;
    }

    .navbar-nav a.nav-link {
        padding: 0 23px !important;
    }

    .navbar-nav a.nav-link {
        padding: 0 23px !important;
    }


}

@media (min-width: 1025px) and (max-width:1199px) {

    .navbar-nav a.nav-link {
        padding: 0 12px !important;
        font-size: 0.85rem;
    }


    .carousel-item img.position-relative {
        width: 78%;
    }

    .navbar-toggler {
        top: 10px;
        right: 10px;
        position: absolute;
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 2px 5px;
    }

    .logo h1 {
        font-size: 16px;
    }

    .logo h2 {
        font-size: 12px;
    }

    #navbarSupportedContent ul li a {
        padding: 20px 11px;
    }

    #slider .carousel-caption {
        top: 7%;
    }

    #slider .carousel-caption h5 {
        font-size: 21px;
    }

    #slider .carousel-caption h5 .punchline {
        font-size: 1.21rem;
    }

    #slider .carousel-caption p {
        font-size: 13px;
        line-height: 25px;
        width: 92%;
        text-align: justify;
    }



    #header-form .card-body span {
        font-size: 12px;
    }

    #services .services p {
        font-size: 0.86rem;
    }

    #services .services h4 {
        font-size: 14px;
    }

}

@media (min-width: 992px) and (max-width:1024px) {
    .logos img {
  max-height: 80px;
  width: auto;
}
#slider .carousel-caption h5 .punchline {
    font-size: 1.2rem;
}

    .navbar-nav a.nav-link {
    padding: 0 7px !important;
    color: rgba(0, 0, 0, 0.86);
    font-size: 0.85rem;
    font-weight: 400;
}

    .logo h1 {
        font-size: 14px;
    }

    #navbarSupportedContent ul li a {
        padding: 10px 11px;
    }

    #slider .carousel-caption h5 {
        font-size: 22px;
        line-height: 32px;
    }

    #slider .carousel-caption p {
        font-size: 12px;
    }
}


@media (min-width: 767px) and (max-width:991px) {



    .navbar {
        position: absolute;
        top: 50px;
        right: 10px;
    }

    .navbar-toggler {
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 2px 5px;
    }

}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none !important;
    }
}

@media (max-width:991px) {
    .ministerimage {     width: 347px;}
    .topbar {
        font-size: 0.7rem;
    }


    #navbarSupportedContent ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }


    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar {
        position: absolute;
        top: 42px;
        width: 60%;
        right: 0;
        background: var(--ast-themeblue);
        border: 0;
        border-radius: 0;
        z-index: 999;

    }

    #navbarSupportedContent ul li a {

        padding: 10px 90px 10px 10px;
        transition: ease 0.5s;
        color: #ffffff !important;
    }

    #navbarSupportedContent ul li:hover a {
        font-weight: bold !important;
        transition: ease 0.5s;
    }

    .navbar-toggler {
        border: 0;
        padding: 5px 8px;
    }

    .logo h1 {
        font-size: 14px;
    }

    .logo h2 {
        font-size: 14px;
    }

    #header-form {
        position: relative !important;
        right: 0;

    }

    .topbar p {
        font-size: 0.77rem;
    }

    .navbar-nav a.nav-link {
        padding: 14px 12px !important;
        margin: 0 5px;
        font-size: 0.85rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3)
    }

    #slider .carousel-caption {
        top: 6%;
    }

    #slider .carousel-caption p {
        font-size: 13px;
        width: 80%;
    }

    #about .aboutus h2 {
        font-size: 24px;
    }

    #services .services p {
        font-size: 0.86rem;
        line-height: 21px;
    }

    #slider .carousel-caption h5 {
        font-size: 22px;
        line-height: 30px;
    }

    .carousel-indicators {
        bottom: 0;
        z-index: 9999;
    }

    .carousel-indicators [data-bs-target] {
        width: 9px;
        height: 9px;
    }

    #header-form {
        position: relative;

        width: 100%;
        margin: 0 auto;

    }

    #header-form .card-body span {
        font-size: 12px;
    }

    #header-form img {}


}

@media (max-width:767px) {


    .topbar a {
        font-size: 0.7rem;
    }

    #slider .carousel-caption h5 .punchline {
        font-size: 1rem;
    }

    .ministerimage {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        display: block;
    }

    .topbar {
        font-size: 0.7rem;
    }

    .carousel-indicators {
        bottom: 64px;

    }

    #slider .carousel-caption p {
        font-size: 13px;
        width: 98%;
    }

    #latestnews .heading h2 {
        font-size: 0.79rem;
    }

    .navbar .navbar-collapse.show {
        background: rgba(0, 0, 0, 0.8);
        height: 100vh;
        padding-top: 20px;
    }

    .navbar {
        position: absolute;
        top: 85px;

    }

    .clogo img {
        width: 70px;
    }

    .loginform {
        margin-left: 0;
    }

    .navbar a {
        color: #ffffff !important;
    }

    #slider .carousel-caption {
        top: -5% !important;
    }

    .carousel-indicators {
        left: 0px;
    }

    #header-form {
        position: relative;
        width: 80%;
    }




    .service.img {
        margin-bottom: 50px;
    }

    .services-carousel .swiper-button-next {
        right: 50%;
    }

    #punchline h5 {
        padding-left: 100px;
        font-size: .9rem;
        line-height: 23px;
    }

}

@media (max-width: 576px) {
    .logo h1 {
        font-size: 13px;
        font-weight: 600;
    }

    .logo h2 {
        font-size: 13px;
    }

    #header-form {
        position: relative !important;
        right: 0;

    }

    #slider .carousel-caption {
        left: 0;
    }

    #slider .carousel-caption p {
        font-size: 0;
    }

    #slider .carousel-item img.position-relative {
        width: 40%;
    }

    #about .aboutus h2 {
        font-size: 24px;
    }

    #services .services p {
        font-size: 0.86rem;
        line-height: 21px;
    }

    #slider .carousel-caption h5 {
        font-size: 17px;
        line-height: 25px;
    }

    .carousel-indicators {
        bottom: -13px;
        z-index: 9999;
    }

    .carousel-indicators [data-bs-target] {
        width: 9px;
        height: 9px;
    }
}